[submodule "rllab"]
	path = rllab
	url = https://github.com/rejuvyesh/rllab
	branch = multiagent
[submodule "rltools"]
	path = rltools
	url = https://github.com/sisl/rltools.git
[submodule "mujoco-py"]
	path = mujoco-py
	url = https://github.com/openai/mujoco-py
